In [15]:
# Add dependencies
import glob
import pandas as pd

In [16]:
combined_csv =pd.concat([pd.read_csv(f) for f in glob.glob('Resources/TripData/*.csv')], ignore_index = True)

In [17]:
combined_csv.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,320,2019-01-01 00:01:47.4010,2019-01-01 00:07:07.5810,3160.0,Central Park West & W 76 St,40.778968,-73.973747,3283.0,W 89 St & Columbus Ave,40.788221,-73.970416,15839,Subscriber,1971,1
1,316,2019-01-01 00:04:43.7360,2019-01-01 00:10:00.6080,519.0,Pershing Square North,40.751873,-73.977706,518.0,E 39 St & 2 Ave,40.747804,-73.973442,32723,Subscriber,1964,1
2,591,2019-01-01 00:06:03.9970,2019-01-01 00:15:55.4380,3171.0,Amsterdam Ave & W 82 St,40.785247,-73.976673,3154.0,E 77 St & 3 Ave,40.773142,-73.958562,27451,Subscriber,1987,1
3,2719,2019-01-01 00:07:03.5450,2019-01-01 00:52:22.6500,504.0,1 Ave & E 16 St,40.732219,-73.981656,3709.0,W 15 St & 6 Ave,40.738046,-73.996430,21579,Subscriber,1990,1
4,303,2019-01-01 00:07:35.9450,2019-01-01 00:12:39.5020,229.0,Great Jones St,40.727434,-73.993790,503.0,E 20 St & Park Ave,40.738274,-73.987520,35379,Subscriber,1979,1

In [18]:
clean_ride_data = pd.read_csv('Resources/RidershipData/data_Q1.csv')
clean_ride_data.head()

,Date,Trips over the past 24-hours (midnight to 11:59pm),Miles traveled today (midnight to 11:59 pm),Total Annual Members (All Time),24-Hour Passes Purchased (midnight to 11:59 pm),3-Day Passes Purchased (midnight to 11:59 pm)
0,1/1/19,22145,44131,297823,2429,49
1,1/2/19,38249,58975,297908,1062,36
2,1/3/19,42181,62500,297976,969,31
3,1/4/19,44420,65739,298017,1173,33
4,1/5/19,17636,24326,298048,462,8

In [19]:
# Export to csv
combined_csv.to_csv("Clean_data/clean_quarter_tripdata_Q12019.csv")
clean_ride_data.to_csv("Clean_data/clean_ridership_Q12019.csv")